<% if user_signed_in? %>
  <%= form_with model: [seichi_memo, comment], local: true, class: "flex-grow" do |f| %>
    <div class="bg-gray-100 rounded shadow-sm mb-2">
      <%= f.text_area :content, placeholder: "コメントする", class: "w-full bg-transparent text-sm border-none focus:outline-none px-3 py-1" %>
    </div>

    <div class="text-right">
      <%= f.submit "コメント", class: "btn btn-primary" %>
    </div>
  <% end %>
<% else %> 
  <p class="text-sm text-center mt-4">
    <%= link_to "ログインしてコメントする", new_user_session_path, class: "text-white underline hover:text-primary" %>
  </p>
<% end %>
