<% content_for(:title, t(".title")) %>

<!-- 検索フォーム -->
<%= render "seichi_memos/search_form", search_url: bookmarks_seichi_memos_path  %>

<div class="mb-24">
  <div <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-4">
    <!-- ブックマーク件数表示 -->
    <h3 class="text-xl sm:text-2xl font-semibold text-gray-800 mb-6 border-b pb-2 border-l-4 border-primary pl-4 flex items-center justify-between">
      <span>ブックマーク済み</span>
      <span class="text-sm sm:text-base text-gray-500">（<%= @bookmark_seichi_memos.total_count %>件）</span>
    </h3>
    <% if @bookmark_seichi_memos.any? %>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
        <% @bookmark_seichi_memos.each do |seichi_memo| %>
          <%= render "seichi_memos/seichi_memo", seichi_memo: seichi_memo %>
        <% end %>
      </div>
    <% else %>
      <div class="flex justify-center items-center w-full py-10">
        <p class="text-gray-600 text-xl font-bold text-center">ブックマークした聖地メモはありません。</p>
      </div>
    <% end %>
  </div>

  <!-- ページネーション -->
  <div class="flex justify-center mt-4">
    <%= paginate @bookmark_seichi_memos %>
  </div>
</div>
