<% content_for(:title, t(".title")) %>
<!-- 検索フォーム -->
<%= render "seichi_memos/search_form", search_url: bookmarks_seichi_memos_path  %>

<div class="max-w-7xl mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-6">
  <% if @bookmark_seichi_memos.any? %>
    <% @bookmark_seichi_memos.each do |seichi_memo| %>
      <%= render "seichi_memos/seichi_memo", seichi_memo: seichi_memo %>
    <% end %>
  <% else %>
    <div class="flex justify-center items-center w-full py-10">
      <p class="text-gray-600 text-xl font-bold text-center">ブックマークした聖地メモはありません。</p>
    </div>
  <% end %>
</div>
<%= paginate @bookmark_seichi_memos %>
