<div class="max-w-3xl mx-auto p-6 bg-white shadow-lg rounded-lg">
  <!-- プロフィール情報 -->
  <div class="flex flex-col items-center mb-6">
    <%= image_tag @user.profile_image.url, alt: "プロフィール画像", class: "w-32 h-32 rounded-full mb-4" %>
    <h2 class="text-2xl font-bold"><%= @user.username %></h2>
  </div>

  <!-- 自己紹介文 -->
  <div class="mb-4 text-center">
    <p class="text-xl text-gray-700">
      <%= safe_join(@user.introduction.to_s.split("\n"), tag(:br)).presence || "よろしくお願いします！" %>
    </p>
  </div>

  <!-- プロフィール編集ボタン -->
  <% if @user == current_user %>
    <div class="flex justify-center my-4">
      <%= link_to "プロフィール編集", edit_user_registration_path, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
