<% comment_flashes = flash.select { |k, _| k.to_sym.in?([:comment_notice, :comment_alert]) } %>

<div id="flash_message"
     class="fixed top-5 right-4 sm:right-6 sm:top-6 w-[90%] sm:w-96 z-[9999] space-y-3 transition-all duration-300">
  <% comment_flashes.each do |key, message| %>
    <div class="<%= flash_background_color(key) %> px-4 py-3 rounded-md text-white flex items-center shadow-lg animate-slide-in fade-out" id="flash-message-<%= key %>">
      <i class="<%= flash_icon_class(key) %> text-xl mr-3"></i>
      <span class="ml-1"><%= message %></span>
      <button onclick="this.parentElement.remove();" class="ml-auto text-2xl leading-none hover:text-gray-200">&times;</button>
    </div>
  <% end %>


  <script>
    setTimeout(() => {
      document.querySelectorAll('.fade-out').forEach(el => {
        el.classList.add('animate-fade-out');
        setTimeout(() => el.remove(), 500);
      });
    }, 5000);
  </script>
</div>
