<footer class="footer footer-center p-10 bg-primary text-base-content">
  <div class="container mx-auto text-center">
    <nav class="flex justify-center gap-8">
      <%= link_to '利用規約', terms_of_service_path, class: "text-white link link-hover text-lg font-medium" %>
      <%= link_to 'プライバシーポリシー', privacy_policy_path, class: "text-white link link-hover text-lg font-medium" %>
      <%= link_to 'お問い合わせ', "https://docs.google.com/forms/d/e/1FAIpQLSekT6TW4qUS0U_2krQmXsxsHztTwAVqa-vr6avHHjgUeifblA/viewform", target: '_blank', rel: 'noopener noreferrer', class: "text-white link link-hover text-lg font-medium" %>
    </nav>
    <p class="text-sm text-white mt-4">Copyright &copy; 2025 Animeguru</p>
  </div>
</footer>
