<%# X投稿内容（stripで行末の改行を削除） %>
<% tweet_text = <<~EOF.strip
  【聖地メモ投稿】

  「#{@seichi_memo.title}」
  #{truncate(@seichi_memo.body, length: 50, omission: "…")}

  ▼投稿をチェックする
  #{request.original_url}

  #アニめぐる #聖地巡礼 #アニメ聖地 #推し活
EOF
%>

<%= link_to "https://twitter.com/intent/tweet?text=#{CGI.escape(tweet_text)}",
            target: "_blank",
            rel: "noopener",
            class: 'btn bg-primary text-white py-2 px-6 shadow-md transition duration-200' do %>
  <i class="fa-brands fa-x-twitter text-2xl"></i>
  <span class="text-white">シェア</span>
<% end %>
