<div class="container mx-auto mt-8">
  <h1 class="text-2xl sm:text-3xl font-bold text-center mb-8">あなたの足で紡ぐ、作品と現実の交差点</h1>
    <p class="text-center text-base sm:text-lg mb-8">
      聖地巡礼をもっと心地よく楽しむためにに知っておきたいこと
    </p>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 mb-8">
      <%= render 'columns/manners_guide' %>
      <%= render 'columns/how_to_enjoy_pilgrimage' %>
      <%= render 'columns/prepare_for_pilgrimage' %>
    </div>
</div>
