@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .font-rampart {
    font-family: "Rampart One", serif;
    font-weight: 400;
    font-style: normal;
  }

  .font-kosugi {
    font-family: "Kosugi", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .h-map {
    height: calc(100vh - 64px - 64px); /* ヘッダーとフッター分を引く */
  }
}
